In [76]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [77]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [78]:
# Mars news URL of page to be scraped
nasa_url = 'https://mars.nasa.gov/news/'

browser.visit(nasa_url)

html = browser.html

nasa_soup = BeautifulSoup(html, 'html.parser')
nasa_soup.title.text

'News  – NASA’s Mars Exploration Program '

In [79]:
# Retrieve the latest news title and paragraph and assign to variables
latest_title = nasa_soup.find_all('div', class_='content_title')[1].text
latest_title

"NASA Engineers Checking InSight's Weather Sensors"

In [80]:
latest_paragraph = nasa_soup.find("div", class_="article_teaser_body").text
latest_paragraph

'An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.'

In [86]:
browser.quit()

# JPL Mars Space Images - Featured Image

-Visit the url for JPL Featured Space Image (https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

In [87]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [88]:
# Scrape site for mars image
jpl_url = 'https://www.jpl.nasa.gov'
nasa_images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

browser.visit(nasa_images_url)

html = browser.html

nasa_images_soup = BeautifulSoup(html, 'html.parser')

In [89]:
# Get the nasa featured image link
image_path = nasa_images_soup.find_all('img')[3]["src"]
featured_image_url = jpl_url + image_path
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA24073-640x350.jpg'

In [90]:
browser.quit()

# Mars Facts

Visit the Mars Facts webpage (https://space-facts.com/mars/)

In [103]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [104]:
mars_facts_url = 'https://space-facts.com/mars/'
browser.visit(mars_facts_url)
html = browser.html

In [106]:
# Create a Beautiful Soup object
mars_facts_soup = BeautifulSoup(html, 'html.parser')
mars_facts_soup.title.text

'Mars Facts - Interesting Facts about Planet Mars'

In [ ]:
# Utilize Pandas to scrape the table containing facts about the planet
data = pd.read_html(mars_facts_url)
data

In [96]:
mars_data = data[2]
mars_data.columns = ["Description", "Value"]
mars_data

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [98]:
# Convert the data to a HTML table string

mars_html = mars_data.to_html()
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [99]:
mars_html.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [100]:
mars_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [107]:
browser.quit()

# Mars Hemispheres

Visit the USGS Astrogeology site (https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars) to obtain high resolution images for each of Mar's hemispheres.

In [117]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [118]:
# Retrieve and save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name
Astrogeology_url = 'https://astrogeology.usgs.gov'
mars_hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(mars_hemispheres_url)

mars_hemispheres_url = browser.html

mars_hemispheres_soup = BeautifulSoup(mars_hemispheres_url, 'html.parser')

In [119]:
# Design an XPATH selector to find the headers
mars_xpath = "//div[@class='description']//a[@class='itemLink product-item']/h3"

In [120]:
# get the 4 hemisphere infos
hemispheres = browser.find_by_xpath(mars_xpath)
hemispheres

In [124]:
# create empty dictionary to hold info
mars_hemisphere_image_urls = []

In [125]:
# Loop through the 4 hemisphere links
for h in range(4):

    mars_hemispheres_url = browser.html
    mars_hemispheres_soup = BeautifulSoup(mars_hemispheres_url, 'html.parser')
    
    # find the new Splinter elements
    hemispheres = browser.find_by_xpath(mars_xpath)
    
    # Save the name of each of the 4 hemispheres
    header = hemispheres[h].html

    # Click on the header to reach the hemisphere info pages
    info_link = hemispheres[h]
    info_link.click()
    
    # Load all of the hemisphere information into BeautifulSoup
    mars_hemispheres_url = browser.html
    mars_hemispheres_soup = BeautifulSoup(mars_hemispheres_url, 'html.parser')
    
    # Save each of the image urls
    mars_hemisphere_image_urls.append({"title": header, "image_url": mars_hemispheres_soup.find("div", class_="downloads").a["href"]})
    
    # return the the first page
    browser.back()

In [126]:
#print the 4 hemisphere titles and image link 
mars_hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'image_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [127]:
browser.quit()